<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>#Like it</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet"> -->

	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<nav class="gtco-nav" role="navigation">
			<div class="container">

				<div class="row">
					<div class="col-sm-2 col-xs-2">
						<div id="gtco-logo"><a href="/">LikeIt<sup>&trade;</sup></a> </div>

					</div>
					<%if(main){%>
					<div class="col-sm-3 col-xs-3">
						<div id="gra">
							<%=main.nickname%> <a href="/auth/logout">로그아웃</a> </div>

					</div>
					<%}%>
					<%if(main){%>
					<div class="col-xs-7 text-right fh5co-top-social">
						<%}else{%>
						<div class="col-xs-10 text-right fh5co-top-social">
							<%}%>
							Made by KHS
							<ul class="gtco-social">
								<li><a href="https://www.facebook.com/profile.php?id=100006310957929" class="icon-facebook"></a></li>
							</ul>
						</div>
					</div>

				</div>
		</nav>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
		<script>
			var socket = io.connect('/chat',{transports: ['websocket'],upgrade:false});
			socket.emit("connection",<%=roomnum%> );
		</script>
		<script>
			socket.on("chat_sended_to_client",(msg)=>{  //서버에서 client에게 메세지 전송
						chating(msg);	 //채팅 하나 더 넣어줌
						console.log("MSG",msg);
						scroll_Bot();  //auto scroll
					});
			socket.on("new_user_in",(info)=>{ 
				console.log("userin");
				info.id=info.sended;
				info.nickname=info.sended_Nickname;
				list=$(`.${info.id}`)[0];
				if(!list) //이미 추가되었으면 중복 제거함
					users(info); //id profile_image nickname
					console.log(info);
				chating(info);
				scroll_Bot();  //auto scroll
			})
			socket.on("other_leaved_room",(info)=>{ 
				console.log("userout");
				info.id=info.sended;
				info.nickname=info.sended_Nickname;
				$(`.${info.id}`).remove();
				// users(info); //id profile_image nickname
				chating(info);
				scroll_Bot();  //auto scroll
			})
				</script>
		<div class="container">
			<div class="row " style="padding-top:40px;">
				<h3 class="text-center">
					<%=roomname%>
				</h3>
				<br /><br />
				<div class="col-md-8">
					<div class="panel panel-info">
						<div class="panel-heading">
							CHAT
						</div>
						<script>
							const scroll_Bot=()=>{
								var objDiv = document.getElementById("chats");
								objDiv.scrollTop = objDiv.scrollHeight;
							}
						</script>
						<div class="panel-body" >
							<ul class="media-list" id="chats" >
								<script>
									var chating =(chat)=>{ // chat.who , chat.time , chat.description
									var li = document.createElement('li');
									li.className = "media";
										
									var div = document.createElement('div');
									div.className = "media-body";
									li.appendChild(div);

									var div2 = document.createElement('div');
									div2.className = "media";
									div.appendChild(div2);

									var a = document.createElement('a');
									a.className = "pull-left";
									a.href = "sdfg";
									var img = document.createElement('img');
									img.classList.add("media-object", "img-circle");

									sended=chat.sended;
									img.src = chat.profile_image;
									img.style.maxHeight = "64px";

									a.appendChild(img);
									div2.appendChild(a);

									if(!chat.gif_src){
									console.log("gif no");
										var div3 = document.createElement('div');
										div3.className = "media-body";
										div3.textContent = chat.description;
										var br = document.createElement('br');
										div3.appendChild(br);
										var small = document.createElement('small');
										small.className = "text-muted";
										small.textContent = `${chat.sended_Nickname} | ${chat.time}`;

										var hr = document.createElement('hr');
										
										div3.appendChild(small);
										div3.appendChild(hr);

										div2.appendChild(div3);
									}else{
									console.log("gif yes");
										var gif =document.createElement('img');
										gif.src=chat.gif_src;
										gif.style.minHeight="100px";
										gif.style.minWidth="100px";
										gif.style.maxHeight="500px";
										gif.style.maxWidth="500px";
										var br = document.createElement('br');
										gif.appendChild(br);
										div2.appendChild(gif);
									}


									var list = document.getElementsByClassName("media-list");
									list[0].appendChild(li);
									}


									// 원래 이전 채팅을 불러왔으나 불러올 필요가 없음을 깨닫고 불러오는 부분 없앰 2018-12-02 00시경 commit
									 //채팅한 말 객체들의 배열 [ { room : 10  "sended":"YOUT","sended_NickName":"YOU" , time : "now" , description : "lala", profile_image : "!@#@!#"} ,  ... ]
       
									let tmp ={};
									let people=[];

									<%people.forEach((people)=>{%>
										tmp={};
										tmp.id = "<%=people.id%>";
										tmp.profile_image = "<%=people.profile_image%>";
										tmp.nickname= "<%=people.nickname%>";
										people.push(tmp);
									<%})%>  //방에 참가하고 있는 인원들 객체 배열 [ {"id":"1123",name: "asdfa","nickname":"LALA" ,"profile_image":"123"} , ... ]
									
								
									// document.write()
									scroll_Bot();
								</script>
							</ul>
						</div>
						<form id="chating" enctype="multipart/form-data">
							<div class="panel-footer">
								<div class="input-group">
									<input type="text" class="form-control" id="message" placeholder="Enter Message" />
									<span class="input-group-btn">
										<input type="submit" class="btn btn-info" type="button" value="전송">
									</span>
								</div>
							</div>
						</form>
					</div>
					<label class="btn btn-primary btn-file">
						<input type="file" name="upload" id="upload" style="display: none;" value="파일추가">
					</label>
				</div>
				<script>
					$('#chating').submit((e) => {
						const msg = $('#message').val();
						console.log("subbmit", msg);
						socket.emit('chat_sended_to_server', msg);
						$('#message').val('');
						$('#message').focus();
						e.preventDefault();
					});
					 let file=document.getElementById('upload');
					 file.addEventListener("change",(e)=>{
						const formData = new FormData();
						const xhr = new XMLHttpRequest();
						console.log (e.target.files);
						formData.append('gif',e.target.files[0]);
						xhr.onload = ()=>{
							if(xhr.status===200)
							e.target.file=null;
							else
							console.error(xhr.responseText);
						};
						xhr.open('POST','/contents/<%=category%>/room/<%=roomnum%>/picture');
						xhr.send(formData);
						e.preventDefault();
						});
						

				</script>

				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							ONLINE USERS
						</div>
						<div class="panel-body">
							<ul class="media-list dd">

								<script>
									var users = (who) => {
										var li_ = document.createElement('li');
										li_.className = "media";
										li_.classList.add(who.id);

										var div_ = document.createElement('div');
										div_.className = "media-body";
										li_.appendChild(div_);

										var div2_ = document.createElement('div');
										div2_.className = "media";
										div_.appendChild(div2_);

										var a_ = document.createElement('a');
										a_.className = "pull-left";
										a_.href = "sdfg";
										var img_ = document.createElement('img');
										img_.style.maxHeight = "40px";
										img_.classList.add("media-object", "img-circle");
										img_.src = who.profile_image;

										a_.appendChild(img_);
										div2_.appendChild(a_);

										var div3_ = document.createElement('div');
										div3_.className = "media-body";

										var h5_ = document.createElement('h5');
										h5_.textContent = `${who.nickname}`;

										var small_ = document.createElement('small');
										small_.className = "text-muted";
										small_.textContent = "";

										div3_.appendChild(h5_);
										div3_.appendChild(small_);

										div2_.appendChild(div3_);

										var list_ = document.getElementsByClassName("dd");
										list_[0].appendChild(li_);
									}


									// people= blabla ( 이미 정의됨 앞에서)

									for (let i = 0; i < people.length; i++) {
										users(people[i]);
									}
								</script>
							</ul>
						</div>
					</div>
					<button type="button" class="btn btn-info" onclick="location.href='/contents/<%=category%>/page/1'">방 나가기</button>

				</div>
			</div>
		</div>
		<div id="gtco-project">


			<footer id="fh5co-footering">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="fh5co-footer-widget">
								LiKEIT <sup>&trade;</sup>&copy; All Rights Reserved. <br> Hwan-Seok Kang
							</div>
						</div>
						<div class="col-md-3 col-md-push-1">
							<div class="fh5co-footer-widget">
								<p>010 6430 6352 <br>tttkhs@khu.ac.kr</p>
							</div>
						</div>
						<div class="col-md-4 col-md-push-1">
							<div class="fh5co-footer-widget gtco-social-wrap">
								<ul class="gtco-social">
									<li><a href="https://www.facebook.com/profile.php?id=100006310957929" class="icon-facebook"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>


		</div>

		<div class="gototop js-top">
			<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
		</div>

</body>

</html>